/*
Elimina el espacio blanco entre las diapositivas - cambia el color base de las imágenes de las diapositivas
*/
.carousel {
    background:#007aeb;
  }
/*
Obliga a que la imagen tenga una anchura del 100% y no una anchura máxima del 100%.
*/
  .carousel-item .img-fluid {
    width:100%;
  }
/*
los anclajes están en línea, por lo que hay que bloquearlos para que vayan a todo lo ancho
*/

  .carousel-item a {
    display: block;
    width:100%;
  }